.fundo{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-size: 10px;
    background-color:  rgb(0, 0, 0);
}


.bar {
    background-color: rgb(46, 46, 46);
    display: flex;
    align-items: center;
    justify-content: space-between; 
    width: 60vh;
    color: white;
    padding: 10px;
    border-radius: 2px;
    border: 10px solid  rgb(15, 15, 15);
}


.buttonbar1 {

    width: 60px;
    margin: 10px;
    padding: 5px;
   
    background-color: transparent;

    border-radius: 5px;
    border-color: green;
    color: green;

    cursor: pointer;
    transition: transform 0.4s;
}

.buttonbar2 {

    width: 60px;
    margin: 10px;
    padding: 5px;

    background-color: transparent;

    border-radius: 5px;
    border-color: red;
    color:red;

    cursor: pointer;
    transition: transform 0.4s;
}

.buttonbar1:hover{
    background-color: rgb(0, 128, 0.5);
    transform: scale(1.2);
    color:white;
}

.buttonbar2:hover{
    background-color: rgb(247, 33, 33) ;
    transform: scale(1.2);
    color: white;
    
}

.buttonVoltar{

    width: 60px;
    margin: 10px;
    padding: 5px;
   
    background-color: transparent;

    border-radius: 5px;
    border-color: blue;
    color:blue;

    cursor: pointer;
    transition: transform 0.4s;
}

.buttonVoltar:hover{
    background-color: rgb(18, 57, 228) ;
    transform: scale(1.2);
    color: white;
    
}






.header{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color:  rgb(0, 0, 0)
}


.fund{
    background-color: rgb(46, 46, 46);
    padding: 10px;
    padding: 10px;
    border-radius: 2px;
    border: 10px solid  rgb(15, 15, 15);
    color: white;
}

.text{
    display: flex;
    align-items: center;
    justify-content: center;
}

.textP{
    display: flex;
    align-items: center;
    justify-content: center;
}
