
.header{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color:  rgb(0, 0, 0)
}

.fundo{
    background-color: rgb(46, 46, 46);
    padding: 10px;
    padding: 10px;
    border-radius: 2px;
    border: 10px solid  rgb(15, 15, 15);
    color: white;
}

.text{
    display: flex;
    align-items: center;
    justify-content: center;
}

.textP{
    display: flex;
    align-items: center;
    justify-content: center;
}